<html>
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"
	type="text/javascript"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light"
		style="background-color: #e3f2fd; margin-bottom: 20px;">
		<a class="navbar-brand" href="#">Todolist</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
	<div class="container-fluid">
		<div class="row flex-nowrap">
			<div th:each="list : ${lists}" class="col-3">
				<div class="card card-block" style="min-height: 300px;">
					<div class="card-body">
						<div class="card-title" style="display: flex; justify-content: space-between;">
							<h5 th:text="${list.name}">Card title</h5>
							<span class="remove-card-btn" th:attr="data-card-id=${list.id}">Delete</span>
						</div>

						<ul class="list-group list-group-flush"
							th:each="todo: ${listTodos.get(list.getId())}">
							<li th:text="${todo.name}" class="list-group-item">Cras
								justo odio</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card card-block add-card"
				style="min-height: 100px; min-width: 300px;">
				<div class="card-body">
					<h5 class="add-card-btn card-title">Add new card</h5>
					<div class="new-card-group" style="display: none;">
						<input class="new-card-title" type="text" />
						<button type="button" class="new-card-confirm btn btn-primary">Add</button>
						<button type="button" class="new-card-cancel btn btn-light">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/home.js"></script>
</body>
</html>
