<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>	
	<div class="header">
		<h1>To Do List</h1>
	</div>
	<div class="container">
	<form th:action="@{/}" method="get">
		<button class="login-return" type="submit" style="margin-top:0px">Return To Login Page</button>
	</form><br>
			<form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}"
				method="post">
				<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></label>
				<br>	
				<input class="name" type="text" th:field="*{name}" placeholder="First Name">
				<br><br>		
				<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></label>
				<br>
				<input class="email" type="text" th:field="*{email}" placeholder="Email Address">
				<br><br>
				<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red"></label>
				<br>	
				<input class="password" type="password" th:field="*{password}" placeholder="Password"><br><br>			
			<div class="form-registration">
				<button class="submit" type="submit">Sign Up</button>
			</div>
			</form>
	</div>

</body>
</html>